<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
</style>

<div [ngClass]="{'light-theme': isDarkTheme, 'dark-theme': !isDarkTheme}"> 
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img src="assets/logo.png" height="40" class="mr-2" />
      <!-- <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" /> -->
    </ng-template>
    <ng-template pTemplate="end">
      <button (click)="toggleTheme()" [ngClass]="{'active': isDarkTheme}">Light Theme</button>
      <button (click)="toggleTheme()" [ngClass]="{'active': !isDarkTheme}">Dark Theme</button>
      <input type="text" pInputText placeholder="Search" class="w-full" />
    </ng-template>
  </p-menubar>

  <router-outlet>
  </router-outlet>
</div>
