<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
</style>




<router-outlet>
  <!-- <p-toolbar class="header">
    <div class="p-toolbar-group-start">
      <img src="../assets/logo.png" alt="Logo" width="40px" height="40px"/>
    </div>
    <div class="p-toolbar-group-center">
      <p-menubar [model]="items"></p-menubar>
    </div>
    <div class="p-toolbar-group-end">
      <i class="pi pi-user"></i>
    </div>
  </p-toolbar> -->
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
    </ng-template>
    <ng-template pTemplate="end">
      <input type="text" pInputText placeholder="Search" class="w-full" />
    </ng-template>
  </p-menubar>
</router-outlet>
